@charset "UTF-8";

/* body sıfırlama */
html, body {margin:0; padding:0; height: 100%;}
/* /body sıfırlama */

/* arka plan */
#hero {
  position:relative;
  height: 100%;
}

#hero video {
  height:100vh;
  width:100%;
  background-position:absolute;
  z-index:10;
  object-fit:cover;
}

#hero .content{
  background:rgba(0,0,0,0.5);
  height:100%;
  width:100%;
  z-index:20;
  position:absolute;
  top:0;
  left:0;
}
/* /arka plan */

/* üst menü */
.btn-group{
  z-index: 55;
}

.btn-group button{
  background: transparent;
  color:white;
  padding:20px;
}

.btn-group button:hover{
  background: linear-gradient(170deg, rgb(67, 73, 85),rgb(119, 57, 57), rgb(67, 73, 85));
}

/* /üst menü */

/* üst container */
.ustContainer{
    display:flex;
    justify-content:space-between;
}
/* /üst container */

/* Sosyal Medya */
.sosyalMedyaAnaDiv{
    display:flex;
}

.sosyalMedyaAnaDiv > div{
    z-index:70;
    padding:20px;
}

.sosyalMedyaAnaDiv > div > i{
    font-size:15px;
    color:white;
    cursor:pointer;
}

.sosyalMedyaAnaDiv > div > i:hover{
    color:rgb(219, 212, 212);
}
/* /Sosyal Medya*/

/* Başlık */
.yaziAlan{
  width:100%;
}

.baslikContainer{
  position: absolute; 
  top:40%;
  width:100%;
}

.baslik{
  cursor:default;
  font-family: Segoe Print;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.baslikAlan{
  border-bottom: 2px groove white;
  width:45%;
  margin:0 auto;
  position:relative;
  text-align: center;
}

/* /Başlık */


/* Paragraf */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.animation_text {
  text-align: center; 
  font-family: "Poppins", Sans-serif;
  font-size: 20px; 
  font-weight: 500; 
  line-height: 50px; 
  letter-spacing: 3px;
  width: 50%;
  margin:0 auto;
  cursor:default;
}

.animation_text span{
  background: -webkit-linear-gradient(70deg, rgb(104, 0, 0) 0%, rgb(158, 44, 44) 40%,#eee 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* /Paragraf*/

/* devamını oku */
.contentt{
  margin:0 auto;
  width:50%;
  text-align: center;
  display:none;
}

.random{
  display:inline-block;
  cursor:pointer;
  font-family:papyrus;
  font-weight: 600;
  color:white;
}

.random:hover span{
  color:rgb(104, 0, 0);  
  transition:1s color;
}

.contentt span {
  width: 10px;
  display: inline-block;
  letter-spacing: 1px !important;
}
/* /devamını oku*/

/* ses span */
.sesSpan{
  position:absolute; 
  left:100%; 
  top:-30px; 
  color:white;
  padding:7px;
  cursor:pointer;
}

.animasyon{
  animation: zipla 1s ease;
}

@keyframes zipla {
  0% {transform:translateY(0);}
  25% {transform:translateY(-25px);}
  50%{transform:translateY(0);}
  75% {transform:translateY(-25px);}
  100%{transform:translateY(0);}
}

.sesIcon{
  font-size: 25px;
}

.sesSpan:hover{
  border:1px rgb(33, 37, 41) solid;
  background:rgb(47, 52, 56) !important;
  color:white;
}
/* /ses span*/

/* Anasayfa Logo ve Yazi */
.logoSutun{
  background: linear-gradient(rgb(67, 73, 85),rgb(119, 57, 57), rgb(67, 73, 85));
  padding:100px 75px;
  display:flex;
  border-top:10px solid;
  border-image: linear-gradient(to left, rgb(241, 243, 247),rgb(119, 57, 57), rgb(67, 73, 85)) 30;
}

.logoSutunDivBorderBottom{
  border-top:10px solid;
  border-image: linear-gradient(to right, rgb(241, 243, 247),rgb(119, 57, 57), rgb(67, 73, 85)) 30;
}

.logoAlanDiv{
  width: 10%;
}
 
.anasayfaLogo{
  width:100%;
  transition:1s transform;
  cursor:pointer;
  border-radius: 50%;
}

.anasayfaLogo:hover{
  transform:scale(1.1);
  box-shadow: 0 0 10px 0.25rem rgb(157, 163, 173) !important;
}

.logoYaziAlan{
  width:50%;
}

.logoYaziYaziAlan{
  text-align: center; 
  font-family: "Poppins", Sans-serif;
  font-size: 20px; 
  font-weight: 500; 
  line-height: 50px; 
  letter-spacing: 3px;
  width: 100%;
  cursor:default;
}

.logoYaziYaziAlan p{
  background: -webkit-linear-gradient(70deg, rgb(104, 0, 0) 0%, rgb(158, 44, 44) 40%,#eee 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logoYaziBaslikAlan{
  width:100%;
  text-align: center;
}

.logoYaziBaslik{
  cursor:default;
  font-family: Segoe Print;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logoYaziBaslik:hover{
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
/* /Anasayfa Logo ve Yazi*/